<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'notification_settings', plugin: 'slack_due_date_notifier' %>
<% end %>
<table>
  <tbody>
    <tr>
      <th>
        <%= label_tag :"settings[slack_url]" , 'Notification Slack URL' %>
      </th>
      <td class='form-input'>
        <%= text_field_tag :"settings[slack_url]", Setting.plugin_slack_due_date_notifier["slack_url"] %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :"settings[notification_days_before]" , 'No. of days before due date to send notification on' %>
      </th>
      <td class='form-input'>
        <%= number_field_tag :"settings[notification_days_before]", Setting.plugin_slack_due_date_notifier["notification_days_before"] %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :"settings[notification_days_after]" , 'No. of days after due date to send notification on' %>
      </th>
      <td class='form-input'>
        <%= number_field_tag :"settings[notification_days_after]", Setting.plugin_slack_due_date_notifier["notification_days_after"] %>
      </td>
    </tr>
  </tbody>
</table>